
        * {
            margin: 0;
            padding: 0;
        }

        body {
            /* background-color: rgb(0, 0, 33); */
            color: white;
            font-family: 'Poppins', sans-serif;
            background-image: url(img/5172658.jpg);
            background-attachment: fixed;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 60px;
            background-color: rgb(4, 42, 105);
        }

        nav ul {
            display: flex;
            justify-content: center;

        }


        nav ul li {
            list-style: none;
            margin: 0 23px;

        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

        nav ul li a:hover {

            color: rgb(186, 186, 206);
            font-size: 1.04rem;
        }

        main hr {
            border: 0;
            height: 1.2px;
            margin: 40px 84px;
            background: #9c97f1;
        }

        .left {
            font-size: 1.5rem;
        }


        .first {
            display: flex;
            justify-content: space-around;
            margin: 119px 0;
            align-items: center;

        }

        .first div {
            width: 34%;

        }

        .rightsec {
            font-size: 2.5rem;
        }

        .rightsec .btn {
            background: rgb(13, 13, 81);
            color: white;
            border: 2px solid white;
            border-radius: 6px;
            font-size: 20px;
            cursor: pointer;


        }

        .rightsec #btn2 {
            text-decoration: none;
            color: white;
            position: absolute;
            top: 499px;
            left: 1031px;
        }

        .leftsec {
            width: 50px;
        }

        .leftsec img {
            width: 95%;
            padding-bottom: 20px;
            padding-left: 40px ;
            
        }

        #name {
            color: rgb(170, 107, 228);

        }

        #element {
            color: rgb(170, 107, 228);
        }

        .second {
            max-width: 80vw;
            margin: auto;
            height: 80vh;
        }

        .second h1 {
            font-size: 2.9rem;
            color: rgb(255, 0, 79);

        }

        .text-gray {
            color: gray;
            font-size: 20px;
        }

        .second .box {
            background: white;
            width: 70vw;
            height: 2px;
            margin: 56px 0;
            display: flex;
        }

        .second .vertical {
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 200px;
        }

        .img-top {
            width: 23px;
            position: relative;
            top: -32px;
            left: -9px;
        }

        .vertical-title {
            position: relative;
            top: 75px;
            width: 150px;
            font-size: 26px;


        }

        .vertical-desc {
            position: relative;
            top: 86px;
            color: #81c251;
            width: 150px;
            font-size: 12px;
        }


        

        footer {
            background-color: rgb(37 17 79);
            /* height: 233px; */

        }

        .footer {
            display: flex;
            padding: 23px 122px;
            justify-content: space-evenly;

        }

        .footer ul {
            list-style: none;
        }

        .footer div {
            width: 223px;
        }

        footer .footer-right {
            text-align: center;
            color: gray;
            padding: 12px 0px;

        }
    